<div class="contrat-item-content">
  <div class="left-side">
    <div class="title-row">
      <i class="fa-solid fa-{{ donneeContrat.icon }}"></i>
      <p class="bold">{{ donneeContrat.title }}</p>
    </div>
    <div
      *ngFor="let item of donneeContrat.items; trackBy: itemTrackBy"
      class="item-row"
    >
      <p>{{ item.label }}:</p>
      <p class="bold" [innerHTML]="item.name"></p>
    </div>
  </div>
  <div class="right-side">
    <button
      (click)="onBtnModifierClicked(donneeContrat.title)"
      #btnModifier
      class="btn-modifier"
      title="Modifier {{ donneeContrat.title }}"
    >
      <i class="fa-solid fa-pen"></i>
      Modifier
    </button>
  </div>
</div>
