@use "../styles/colors.scss";

.navbar {
  height: 60px;
  background-color: colors.$color-primary;
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    list-style-type: none;
    li {
      padding: 0 1rem;
    }
  }
  a {
    color: colors.$color-white;
  }
}
